@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

body {
    position: absolute;
    width: 1920px;
    height: 1080px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: darkgray;
    margin: 0;
    padding: 0;
    border: 10px solid rgb(168, 128, 55);
}

.home-screen, .game-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 1920px;
    height: 1080px;
}

.home-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    pointer-events: none;
    z-index: -1;
}

.logo-image {
    position: relative;
    width: 618px;
    height: 348px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Gloria Hallelujah", cursive;
    font-weight: normal;
    font-size: 50px;
}

.menu-button.highlighted {
    background-color: rgba(142, 142, 142, 0.5);
    color: white;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button {
    position: absolute;
    top: 85%;
    left: 85%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 100px;
    font-family: "Gloria Hallelujah", cursive;
    font-size: 3em;
    letter-spacing: 3px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button.selected {
    border: 12px solid yellow
}

#easyButton {
    margin: 0px;
    letter-spacing: 3px;
    cursor: pointer;
    border: 12px solid transparent;
    color: white;
}

#hardButton, #impossibleButton {
    background-color: orange;
    color: white;
}

#helpButton, #creditButton {
    cursor: pointer;
    border: 12px solid transparent;
    color: white;
}

.message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.help-window, .credit-Window {
    background-color: transparent;
    margin: 0 auto;
}

.close {
    color:black;
    position: relative;
    top: 100px;
    left: 1250px; 
    font-size: 60px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.home-button {
    width: 20%;
    height: 100px;
    background-color: orange;
    color: white;
    font-family: "Gloria Hallelujah", cursive;
    font-size: 3em;
    letter-spacing: 3px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room-furniture {
    position: absolute;
}

.room-furniture.selected {
    background-color: rgba(255, 248, 155, 0.5);
    border: 5px solid yellow;
}

.room-gamebar {
    position: relative;
}

#wardrobeImage {
    left: auto;
    width: auto;
    transform: scale(1.2);
    top: 75px;
    left: 40px;
    cursor: pointer;
}

#basketImage {
    left: auto;
    width: auto;
    transform: scale(1.2);
    top: 580px;
    left: 550px;
    cursor: pointer;
}

#shelfImage {
    left: auto;
    width: auto;
    transform: scale(1.2);
    top: 550px;
    left: 19.5px;
    cursor: pointer;
}

#bedImage {
    left: auto;
    width: auto;
    transform: scale(1.2);
    top: 550px;
    left: 1426px;
    cursor: pointer;
}

#wardrobeImage2 {
    left: auto;
    width: auto;
    transform: scale(1.2);
    top: 88px;
    left: 1600px;
    cursor: pointer;
}

#basketImage2 {
    left: auto;
    width: auto;
    transform: scale(1.2);
    top: 640px;
    left: 525px;
    cursor: pointer;
}

#shelfImage2 {
    left: auto;
    width: auto;
    transform: scale(1.2);
    top: 64px;
    left: 1030px;
    cursor: pointer;
}

#bedImage2 {
    left: auto;
    width: auto;
    transform: scale(1.2);
    top: 370px;
    left: 42px;
    cursor: pointer;
}

#wardrobeImage3 {
    left: auto;
    width: auto;
    transform: scale(1.2);
    top: 75px;
    left: 32px;
    cursor: pointer;
}

#basketImage3 {
    left: auto;
    width: auto;
    transform: scale(1.2);
    top: 580px;
    left: 435px;
    cursor: pointer;
}

#shelfImage3 {
    left: auto;
    width: auto;
    transform: scale(1.2);
    top: 450px;
    left: 780px;
    cursor: pointer;
}

#bedImage3 {
    left: auto;
    width: auto;
    transform: scale(1.2);
    top: 590px;
    left: 1256px;
    cursor: pointer;
}

.lowerBar-container {
    position: absolute;
    top: 934px;
    left: -1.3px;
    height: 10%;
    width: 98%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: burlywood;
}

.slot {
    width: 7%;
    height: 100px;
    background-color: lightgray;
    margin-inline: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -3px 2px 8px 1px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.slot img {
    max-width: 80px;
    height: auto;
}

.funiture-select {
    width: 30%;
    height: 100px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: lightgray;
    letter-spacing: 3px;
    border-radius: 50%;
    font-family: "Gloria Hallelujah", cursive;
    font-size: 3em;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -3px 2px 8px 1px rgba(0, 0, 0, 0.5);
}

.timer {
    width: 20%;
    height: 100px;
    margin-left: 100px;
    background-color: whitesmoke;
    color: red;
    font-family: "Gloria Hallelujah", cursive;
    font-size: 3em;
    letter-spacing: 3px;
    font-weight: bold;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outfit-container {
    position: absolute;
    top: 0px;
    left: 1520px;
    height: 400px;
    width: 400px;
    background-color: whitesmoke;
    pointer-events: none;
}

.outfit-image {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -3px 2px 8px 2px rgba(0, 0, 0, 0.5);
}

.player-container {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    pointer-events: none;
}

.room-player {
    position: relative;
    height: auto;
    width: auto;

    pointer-events: none;
}

.player-outfit {
    position: absolute;
    height: auto;
    width: auto;
    pointer-events: none;
}

#cap {
    transform: translateX(-10px) translateY(-850px);
}

#top {
    transform: translateX(20px) translateY(-300px);
}

#bottom {
    transform: translateX(60px) translateY(-160px);
}

#shoe {
    transform: translateX(62px) translateY(-60px);
}

.bubble-image {
    position: absolute;
    top: 40px;
    left: 1000px;
    height: 500px;
    width: 500px;
    pointer-events: none;
    z-index: 1000; 
}

.end-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 720px;
    width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    z-index: 9997; 
}

.notouch-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 1080px;
    width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 0.75; 
    background-repeat: no-repeat;
    pointer-events: auto;
    z-index: 9900; 
}

.win-screen, .win2-screen, .win3-screen, .lose-screen, .lose2-screen,.lose3-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 720px;
    width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    border: 10px solid rgb(143, 113, 74);
    z-index: 9999; 
}

.win-images, .lose-images {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
}

.win-images img, .lose-images img {
    height: 260px;
    width: 260px;
    margin-right: 10px;
}

.win-text, .lose-text {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 520px;
    width: 520px;
    font-family: "Gloria Hallelujah", cursive;
    font-size: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
}

.win-text {
    color: green;
}

.lose-text {
    color: red;
}

.win2-text, .lose2-text {
    position: absolute;
    top: 72%; 
    left: 66%; 
    transform: translate(-50%, -50%);
    font-family: "Gloria Hallelujah", cursive;
    font-size: 1.5em;
    text-align: center; 
    color: black;
    z-index: 9999; 
}

.you-text {
    position: absolute;
    top: 72%; 
    left: 23%; 
    transform: translate(-50%, -50%);
    font-family: "Gloria Hallelujah", cursive;
    font-size: 1.5em;
    text-align: center; 
    color: black;
    z-index: 9999;  
}

.you2-text {
    position: absolute;
    top: 72%; 
    left: 33%; 
    transform: translate(-50%, -50%);
    font-family: "Gloria Hallelujah", cursive;
    font-size: 1.5em;
    text-align: center; 
    color: black;
    z-index: 9999;  
}

.friends {
    padding-left: 150px;
}

.home-button2 {
    position: absolute;
    top: 90%;
    left: 88%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 100px;
    background-color: orange;
    color: white;
    font-family: "Gloria Hallelujah", cursive;
    font-size: 3em;
    letter-spacing: 3px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9998; 
}