/* /////////////////////// CONTAINERS STYLING /////////////////////// */

/* Body styles */
body {
    max-width: 1920px;
    max-height: 1080px;
    overflow: hidden;
    background-color: burlywood;
}

/* Home and game screen styles */
.home-screen, .game-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* /////////////////////// HOME SCREEN STYLING /////////////////////// */

/* Difficulty buttons container */
.difficulty-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Menu buttons container */
.menu-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
}

/* Common button styles */
.button {
    position: absolute;
    top: 85%;
    left: 85%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 100px;
    font-size: 3em;
    letter-spacing: 3px;
    border: 1px solid #000;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Selected button style */
.button.selected {
    border: 12px solid yellow
}

/* Game title styles */
#gameTitle {
    font-size: 60px;
    letter-spacing: 3px;
    font-weight: bold;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Difficulty button styles */
#easyButton {
    margin: 20px;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 40px;
    cursor: pointer;
    border: 12px solid transparent;
    background-color: green;
    color: white;
    padding: 20px 40px;
}

#hardButton {
    background-color: salmon;
    color: white;
}

#impossibleButton {
    background-color: red;
    color: white;
}

/* Help button styles */
#helpButton {
    margin: 20px;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 40px;
    cursor: pointer;
    border: 12px solid transparent;
    background-color: gray;
    color: white;
    padding-inline: 70px;
    font-size: 20px;
    padding: 10px 20px;
}

/* Message styles */
.message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.help-window {
    background-color: transparent;
    margin: 0 auto;
}

.close {
    color:black;
    position: relative;
    top: 100px;
    left: 1050px; 
    font-size: 60px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* /////////////////////// GAME SCREEN STYLING /////////////////////// */

/* Home button styles */
.home-button {
    width: 20%;
    height: 100px;
    background-color: orange;
    border: 1px solid #000;
    color: white;
    font-size: 3em;
    letter-spacing: 3px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Furniture styles */
.room-furniture {
    position: absolute;
}

/* Selected furniture style */
.room-furniture.selected {
    border: 12px solid yellow;
    border-radius: 10%; 
}

/* Game bar styles */
.room-gamebar {
    position: relative;
}

/* Furniture images styles */
#wardrobeImage {
    top: 400px;
    left: 150px;
    width: 25%;
    cursor: pointer;
}

#tableImage {
    top: 540px;
    left: 700px;
    width: 20%;
    cursor: pointer;
}

#shelfImage {
    top: 550px;
    left: -44px;
    width: 20%;
    cursor: pointer;
}

#bedImage {
    top: 550px;
    left: 1450px;
    width: 25%;
    cursor: pointer;
}

/* Lower bar container styles */
.lowerBar-container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 98%;
    padding: 20px;
    background-color: burlywood;
}

/* Slot styles */
.slot {
    width: 7%;
    height: 100px;
    background-color: #fff;
    border: 1px solid #000;
    margin-inline: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Furniture select styles */
.funiture-select {
    width: 30%;
    height: 100px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: lightgray;
    border: 1px solid #000;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 3em;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Timer styles */
.timer {
    width: 20%;
    height: 100px;
    margin-left: 100px;
    background-color: whitesmoke;
    border: 1px solid #000;
    color: red;
    font-size: 3em;
    letter-spacing: 3px;
    font-weight: bold;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Outfit container styles */
.outfit-container {
    position: absolute;
    top: 0px;
    left: 1520px;
    height: 400px;
    width: 400px;
    background-color: whitesmoke;
    pointer-events: none;
}

/* Outfit image styles */
.outfit-image {
    position: absolute;
    width: 85%;
    height: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: burlywood;
    background-size: 85%; 
    border: 1px solid #000;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Player container styles */
.player-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 500px;
    pointer-events: none;
}

/* Room player styles */
.room-player {
    position: relative;
    top: 85%;
    left: 50%;
    width: 90%;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

/* Player outfit styles */
.player-outfit {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -200px;
    left: 210px;
    height: 70px;
    width: 70px;
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
    margin-top: 20px;
}

/* /////////////////////// WIN LOSE STYLING /////////////////////// */

/* end-screen styles */
.end-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 720px;
    width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    background-repeat: no-repeat;
}

/* notouch-screen styles */
.notouch-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 1080px;
    width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    opacity: 0.5; 
    background-repeat: no-repeat;
    pointer-events: auto;
    z-index: 9996; 
}

/* Home button styles */
.win-screen, .win2-screen, .win3-screen, .lose-screen, .lose2-screen,.lose3-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 620px;
    width: 1180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: coral;
    z-index: 9997; 
}

/* Win/Lose text styles */
.win-text, .lose-text {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 520px;
    width: 520px;
    font-size: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
}

/* Win/Lose image styles */
.win-image, .lose-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 520px;
    width: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:yellow;
    z-index: 9997; 
}

/* Home button 2 styles */
.home-button2 {
    position: absolute;
    top: 85%;
    left: 85%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 100px;
    background-color: orange;
    border: 1px solid #000;
    color: white;
    font-size: 3em;
    letter-spacing: 3px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9998; 
}